.full-card {
  /* border: 1px solid white; */
  position: relative;
}

.object-table {
  height: 150px;
}

.back-btn {
  font-size: 1.7rem;
  cursor: pointer;
  position: absolute;
  top: -80px;
  /* középre: right: calc(220.12px - 15.6px); */
  right: 20px;
}

table {
    border-collapse: collapse;
    box-shadow: 2px 4px rgb(69, 68, 68); 
}

table tr td:nth-child(2) {
    padding-right: 10px;
    text-align:right;
}
table tr td:nth-child(1) {
    padding-left: 10px;
    
}


table tr:hover {
    background-color: white;
    color: black;
}